// Brand Colors
$color-grey: #515150;
$color-dgrey:#bbbdbf;
$color-green: #008542;
$color-brown: #e6e7e8;
$color-blue: #00205b;
$color-sand: #e1d3c4;
$color-yellow: #EBAA00;
$color-white: #ffffff;

// Breakpoints
$breakpoint-laptop: 1400px;
$breakpoint-tablet-l: 1120px;
$breakpoint-tablet-p: 800px;
$breakpoint-phone-p: 550px;
$breakpoint-phone-l: 812px;

// Debug
$debug-primary: #333;
$debug-secondary: #fff;
$debug-accent: #ff7600;

$white-op: rgba(255,255,255,0.2);
$transparent: transparent;

$primary-boxshadow: 0px 0px 1px 2px #333;